# Maven
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd

# IDE
**/.idea/
**/*.iml
**/.vscode/

# Environment
.env
*.env

# OS
.DS_Store
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/awscliv2.zip
terraform/aws/
